{
"ServerAddress": "{{ item.xmpp_server }}",
"BotJid":        "{{ item.xmpp_jid }}",
"Password":      "{{ item.xmpp_password }}",
"Muc":           "{{ item.xmpp_muc }}",
"MucNick":       "{{ item.xmpp_botusername }}",
"Contact":       "{{ item.xmpp_contact }}",
"MaxArticles":    {{ item.xmpp_MaxArticles }},
"RefreshTime":    {{ item.xmpp_RefreshTime }},
"NoExcerpt":     {{ item.xmpp_NoExcerpt }},
"Filter":        [ {{ item.xmpp_Filter }} ],
"FilterMessage": [ {{ item.xmpp_FilterMessage }} ],
"Quiet":         {{  item.xmpp_Quiet }},
"Feeds":         [ {{ item.xmpp_Feeds }} ]
}