[Unit]
Description=feed-to-muc robot
Documentation=https://salsa.debian.org/mdosch/feed-to-muc
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{ item.bot_name }}
RemainAfterExit=yes
User={{ item.bot_name }}
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier={{ item.bot_name }}
ExecStart=/home/{{ item.bot_name}}/go/bin/feed-to-muc

[Install]
WantedBy=multi-user.target
