[Unit]
Description=Hubot is a robot
Documentation=https://hubot.github.com/docs/
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{ item.hubot_name }}
RemainAfterExit=yes
User={{ item.hubot_name }}
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier={{ item.hubot_name }}
ExecStart=/home/{{ item.hubot_name}}/bin/hubot --adapter xmpp --name {{ item.hubot_name }}

Environment="HUBOT_XMPP_USERNAME={{ item.xmpp_username }}"
Environment="HUBOT_XMPP_PASSWORD={{ item.xmpp_password }}"
Environment="HUBOT_XMPP_ROOMS={{ item.xmpp_room }}"
Environment="HUBOT_XMPP_PM_ADD_PREFIX={{ item.hubot_name }}"

{% for option in item.npm_modules %}
{% if option.extra_options is defined %}
{% for item in option.extra_options %}
{{ item }}
{% endfor %}
{% endif %}
{% endfor %}

[Install]
WantedBy=multi-user.target
